.card-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.card-contenedor {
  width: 326px;
  display: grid;
  height: auto;
  grid-template-columns: repeat(2, 0.3fr);
  border: 1px solid #e0e0e0;

  border-radius: 10px;
}

.card-img img {
  width: 140px;
  height: 11rem;
  border-radius: 10px 0px 0px 10px;
}

.card-contenido {
  width: 11.5rem;
  padding: 0.5rem 1rem;
}

.card-contenido .gender {
  font-size: 10px;
  line-height: 12.19px;
  margin-bottom: 0;
}

.card-contenido .titulo {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.card-contenido .titulo-contenido {
  font-size: 12px;
  line-height: 15px; 
  color: #828282;
  margin-bottom: 0;
}



.card-contenido .descripcion {
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  font-weight: bold;

}

.card-contenedor .btn-favorito {
  border: none;
  outline: none;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
}
.contendor-image {
  display: flex;
  align-items: end;
}
.card-contenedor .favorito {
  position: absolute;
  margin-left: 6.5rem;
  margin-bottom: 0.4rem;
}

.card-contenedor .favorito .btn-favorito i {
  color: #828282;
}
.truncar-texto{
  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 1024px) {
  .card-contenedor {
    width: 299px;
  }
  .truncar-texto{
    white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 6rem;
  }
}

@media (max-width: 768px) {
  .card-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .card-contenido {
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
  }
  .card-img img {
    width: 140px;
    height: 11rem;
    border-radius: 10px 0px 0px 10px;
  }
  .truncar-texto{
    white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 9rem;
  }
}

@media (max-width: 425px) {
  .card-info {
    display: flex;
    flex-direction: column;
  }
  .card-contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .card-contenido {
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 375px) {
  .card-info {
    display: flex;
    flex-direction: column;
  }
  .card-contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .card-contenido {
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
  }
  
  .truncar-texto{
    white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 7rem;
  }
}

@media (max-width: 320px) {
  .card-info {
    display: flex;
    flex-direction: column;
  }

  .card-contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .card-contenido {
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
  }

  .card-img img {
    height: 11rem;
  }

}
