.footer {
  height: 133px;
  background-color: #081f32;
}

.fondo-footer {
  position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
padding-top: 3rem;
z-index: 1;
}

.fondo-footer-img {
  width: 134.81px;
  height: 50px;
}

.logo-footer{
  position: relative;
}

.logo-footer-img{
  width: 100%;
  height: 132px;
}
