@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
ul {
  padding: 0;
}

li {
  list-style: none;
}

.contenedor {
  margin: 2rem 2rem 2rem 2rem;
  padding: 0 9rem;
}

.button-modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.boton-regresar{
  text-decoration: none;
  background: #11555F;
  padding: .4rem 1rem .4rem 1rem;
  border-radius: 60px;
  color: white;
  /* font-family: Lato; */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

.boton-regresar:hover{
  color: white;
}


@media (max-width: 1024px) {
  .contenedor {
    margin: 0;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .contenedor {
    margin: 0;
    padding: 1rem;
  }
}

@media (max-width: 425px) {
  .contenedor {
    margin: 0;
    padding: 1rem;
  }
}

@media (max-width: 375px) {
  .contenedor {
    margin: 0;
    padding: 1rem;
  }
}

@media (max-width: 320px) {
  .contenedor {
    margin: 0;
    padding: 1rem;
  }
}
